body{
    background-color: #FFDDD2;
    text-align: center;
}
header{
    width: 100%;
    height: 40px;
    background: blue;
}
nav{
    height: 80px;
}
a{
    color: #eff1f7;
    margin-top: 6px;
    padding-right: 5px;
}
a:hover{
    background-color: #B2B2B2;
}
h1{
    font-family: 'Pacifico', cursive;
    font-size: 22px;
    color: #06283D;
    padding: 5px;
}
.aa{
    color: blue;
}
.menu-btn{
position: absolute;
top: 1rem;
right: 1rem;
justify-content: center;
color: black;
background-color: blue;
padding: 10px;
width: 50px;
height: 18px;
float: left;
}
.menu-check{
    display: none;
}
.menu-check:checked + .links{
    transform: translateY(0);
}
.links{
    transform: translateY(-200%);
    transition: 0;
    position: absolute;
    top: 50px;
    right: 1rem;
    width: 120px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: #06283D;

}
p{
    padding: 10px;
}
.video{
    width: 250px;
    text-align: center;
    padding: 8px;
}
footer{
    background: rgb(69,34,195);
    background: linear-gradient(0deg, rgba(69,34,195,1) 0%, rgba(124,21,104,0.908000700280112) 100%);
}

@media screen and (min-width: 768px){
    
    body{
        display: flex;
        flex-wrap: wrap;
    }
    .menu-btn{
        display: none;
    }
    .links{
        transform: translateY(0);
    }
    header{
        height: 50px;
        width: 100%;
    }
    h1{
        text-align: center;
        font-size: 30px;
       margin: 0%;
    }
    
    .links{ 
        text-transform: uppercase;
        display: inline-block;
        width: 90%;
        height: 20px;
        position: absolute;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 10px;
        padding-right: 30px;
        top: 60px;
    }
    nav{
       margin-right: 30px;
    }
    a{
        font-size: 16px;
        border-radius: 3px;
        height: 20px;
    }
    .aa{
        border: 0em;
    }
    main{
        flex-basis: 70%;
    }
    aside{
        flex-basis: 25%;
    }
    footer{
        width: 100%;
    }
}